<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ler Genesis</title>
    <link rel="icon" type="image/x-icon" href="static/favicon/favicon_io/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>

        body {
            background-image: url({{ url_for('static', filename=image) }});
            background-size: cover;
            background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
            background-color: black;
            padding: 0; /* Asegura que no haya relleno en el cuerpo de la página */
            overflow-x: hidden; /* Evita el desplazamiento horizontal */
        {#overflow-y: hidden; /* Evita el desplazamiento horizontal */#}

        }

    </style>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
          type="text/css">
    <script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/decoupled-document/ckeditor.js"></script>

    {#        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'#}
    {#              type='text/css'>#}
    {#        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'#}
    {#              rel='stylesheet' type='text/css'>#}

    <!-- Custom styles for this template -->

    <link href="{{ url_for('static', filename='css/clean-blog.css') }}" rel="stylesheet">

</head>

<body>
<audio style="opacity: 0; position: absolute" id="logoutAudio" controls>
    <source src="static/sounds/Voicy_Item Pickup Sound.mp3" type="audio/mpeg">
</audio>

{#<script src="{{ url_for('static', filename='js/load.js') }}"></script>#}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <a class="navbar-brand" href="{{ url_for('get_all_notebooks') }}" style="margin-left:80px; font-size: 23px"
            {#       onmouseover="this.style.color='#ff0059'"#}
            {#       onmouseleave="this.style.color='floralwhite'"#}
    >Ler
        Genesis</a>

    <a class="navbar-brand" href="{{ url_for('get_all_notebooks') }}" style="margin-left:0px; font-size: 23px">| Data
        Science |</a>
    <div class="container" style="margin-right: 75px">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if admin %}
                    <li class="nav-item">
                        <a style="font-size: 12px" href="{{ url_for('upload_notebook') }}">Upload Jupyter Notebook</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a style="font-size: 12px" href="{{ url_for('about') }}">About</a>
                </li>
{#                {% if not admin %}#}
                    <li class="nav-item">
                        <a style="font-size: 12px" href="{{ url_for('contact') }}">Contact</a>
                    </li>
{#                {% endif %}#}


                {% if not current_user.is_authenticated %}
                    <li class="nav-item">
                        <a style="font-size: 12px" id="red" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size: 12px" href="{{ url_for('register') }}">Register</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a style="font-size: 12px" id='sound' href="{{ url_for('logout') }}">Log Out</a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<script>

    $(document).ready(function () {
        $("#sound").click(function () {
            $("#logoutAudio")[0].play()
        })
    })
    var MQL = 992;

    if ($(window).width() > MQL) {
        var headerHeight = 73
        {#console.log(headerHeight)#}
        $(window).on('scroll', {
                previousTop: 0
            },
            function () {
                var currentTop = $(window).scrollTop();
                {#console.log(currentTop)#}
                //check if user is scrolling up
                if (currentTop < this.previousTop) {
                    //if scrolling up...
                    if (currentTop > 0 && $('#mainNav').hasClass('is-fixed')) {
                        $('#mainNav').addClass('is-visible');
                    } else {
                        $('#mainNav').removeClass('is-visible is-fixed');
                    }
                } else if (currentTop > this.previousTop) {
                    //if scrolling down...
                    $('#mainNav').removeClass('is-visible');
                    if (currentTop > headerHeight && !$('#mainNav').hasClass('is-fixed')) $('#mainNav').addClass('is-fixed');
                }
                this.previousTop = currentTop;
            });
    }
</script>