{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        {#          style="background-image: url({{ url_for('static', filename='img/Snake.jpg')}})"#}
>

    <div class="page-heading" style="padding-bottom: 70px; padding-top:120px">
        <h1>Register</h1>
    </div>

</header>

<div style="align-self: center; width: 300px; margin: 0 auto; align-items: center">

    <form style="bottom: 300px; text-align: center" href="{{ url_for('login') }}" method="POST"
          enctype="multipart/form-data">

        <input class="form-control custom-input" id="title" name="name" required="" type="text" value=""
               style="margin-bottom: 0px; margin-top: 65px; background-color: black;
               border: 3px solid #ccc; text-align: center; font-size: 20px; color:floralwhite" ; onfocus="">

        <input class="form-control custom-input" id="title" name="email" required="" type="email" value=""
               style="margin-bottom: 0px; margin-top: 65px; background-color: black;
               border: 3px solid #ccc; text-align: center; font-size: 20px; color:floralwhite" ; onfocus="">

        <input class="form-control custom-input" id="title" name="password" required="" type="password" value=""
               style="margin-bottom: 0px; margin-top: 65px; background-color: black;
               border: 3px solid #ccc; text-align: center; font-size: 20px; color:floralwhite" ; onfocus="">

        <input type="submit" id="uploadSound" class="button" value="SUBMIT" style="margin-top: 50px">


    </form>
</div>


