

{% include "header.html" %}
<!-- Page Header -->

<div class="container" style="margin-top: 13px">
    <div class="page-heading" style="padding-top: 90px">
        <h1 id="long_text">Information Load Out</h1>
    </div>
</div>


<!-- Main Content -->
<form style=" text-align: center" href="{{ url_for('upload_notebook') }}" method="POST"
      enctype="multipart/form-data">
    <div style="align-self: center; width: 300px; margin: 0 auto; align-items: center;
  justify-content: center; /* Centra horizontalmente *//">

        <input class="form-control custom-input" id="title" name="title" required="" type="text" value=""
               style="margin-bottom: 0px; margin-top: 65px; background-color: black;
               border: 3px solid #ccc; text-align: center; font-size: 20px; color:floralwhite" ; onfocus=""
               placeholder="Project Name">

        <input type="file" name="file" id="file" class="inputfile" accept=".ipynb" required>
        <label name='upload' for="file" style="margin-top:50px;" id="upload">— UPLOAD —</label>
        <input type="submit" id="uploadSound" class="button" value="SUBMIT" style="margin-top: 50px">


        <!-- This container will become the editable. -->

    </div>
    <div style="align-self: center; width: 700px; margin: 0 auto; align-items: center;
  justify-content: center;">

        <div style="margin-top: 27px" id="toolbar-container"></div>
        <div style="height: 300px; background-color: black" id="editor"></div>

        <textarea name="content" id="hidden-editor" style="opacity: 0"></textarea>
    </div>
</form>


<audio style="opacity: 0" id="audioPlayer" controls>
    <source src="static/sounds/VRSpawn.mp3" type="audio/mpeg">
</audio>

<audio style="opacity: 0" id="denied" controls>
    <source src="static/sounds/Access Denied.mp3" type="audio/mpeg">
</audio>

<script>
    var has_file = false
    var has_title = false
    var input = document.getElementById('title');
    var title = null
    // Agrega un listener para el evento 'input' que convierte el texto a mayúsculas
    input.addEventListener('input', function () {
        this.value = this.value.toUpperCase();
        title = input.value

    });


    document.getElementById('file').addEventListener('change', function () {
        has_file = true
        var nombreArchivo = this.files[0].name;
        if (nombreArchivo.length > 15) {
            nombreArchivo = nombreArchivo.substring(0, 16) + " ...";
        }
        document.getElementById('upload').innerText = nombreArchivo
        document.getElementById('upload').style.backgroundColor = '#A3A383'
        document.getElementById('upload').style.color = 'floralwhite'
        document.getElementById('upload').style.borderColor = '#ccc'


    });
    document.getElementById('uploadSound').addEventListener('click', function () {
        if (has_file === false) {
            document.getElementById('upload').style.backgroundColor = '#b83232'
            document.getElementById('upload').style.color = 'floralwhite'
            document.getElementById('upload').style.borderColor = 'floralwhite'
        }
    })


    $(document).ready(function () {
        $("#uploadSound").click(function () {
            if (has_file && (title !== null)) {
                $("#audioPlayer")[0].play();
            } else {
                $("#denied")[0].play();
            }

        });
    });


    DecoupledEditor
        .create(document.querySelector('#editor'))
        .then(editor => {
            const toolbarContainer = document.querySelector('#toolbar-container');
            toolbarContainer.appendChild(editor.ui.view.toolbar.element);
            editor.model.document.on('change:data', () => {
                document.getElementById('hidden-editor').value = editor.getData();
            });

        })
        .catch(error => {
            console.error(error);
        });

</script>


</body>
</html>

