{% include "header.html" %}

<!-- Page Header -->
<header class="masthead">

    <div class="container">
        <div class="page-heading" style="padding-top: 90px">
            <h1 id="long_text">Information Load Out</h1>
        </div>
    </div>

</header>

<!-- Main Content -->
<div style="align-self: center; width: 300px; margin: 0 auto; align-items: center;
  justify-content: center; /* Centra horizontalmente *//">
    <form style="bottom: 300px; text-align: center" href="{{ url_for('upload_notebook') }}" method="POST"
          enctype="multipart/form-data">

        <input class="form-control custom-input" id="title" name="title" required="" type="text" value=""
               style="margin-bottom: 0px; margin-top: 65px; background-color: black;
               border: 3px solid #ccc; text-align: center; font-size: 20px; color:floralwhite" ; onfocus=""
               placeholder="Project Name">

        <input type="file" name="file" id="file" class="inputfile" accept=".ipynb" required>
        <label name='upload' for="file" style="margin-top:50px;" id="upload">— UPLOAD
            —</label>
        <input type="submit" id="uploadSound" class="button" value="SUBMIT" style="margin-top: 50px">

    </form>
</div>


<audio style="opacity: 0" id="audioPlayer" controls>
    <source src="static/sounds/VRSpawn.mp3" type="audio/mpeg">
</audio>

<audio style="opacity: 0" id="denied" controls>
    <source src="static/sounds/Access Denied.mp3" type="audio/mpeg">
</audio>

<script>
    var has_file = false
    var has_title = false
    var input = document.getElementById('title');
    var title = null
    // Agrega un listener para el evento 'input' que convierte el texto a mayúsculas
    input.addEventListener('input', function () {
        this.value = this.value.toUpperCase();
        title = input.value

    });


    document.getElementById('file').addEventListener('change', function () {
        has_file = true
        var nombreArchivo = this.files[0].name;
        if (nombreArchivo.length > 15){
            nombreArchivo = nombreArchivo.substring(0, 16) + " ...";
        }
        document.getElementById('upload').innerText = nombreArchivo
        document.getElementById('upload').style.backgroundColor = '#A3A383'
        document.getElementById('upload').style.color = 'floralwhite'
        document.getElementById('upload').style.borderColor = '#ccc'


    });
    document.getElementById('uploadSound').addEventListener('click', function () {
        if (has_file === false) {
            document.getElementById('upload').style.backgroundColor = '#b83232'
            document.getElementById('upload').style.color = 'floralwhite'
            document.getElementById('upload').style.borderColor = 'floralwhite'
        }
    })

    console.log(input.value)

    $(document).ready(function () {
        $("#uploadSound").click(function () {
            if (has_file && (title !== null)) {
                $("#audioPlayer")[0].play();
            } else {
                $("#denied")[0].play();
            }

        });
    });


</script>


</body>
</html>

